@font-face {
  font-family: 'zabars';
  src: url('fonts/zabars.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('img/desert/desert.png');
  background-position: center;
  background-size: 200%;
  font-family: 'zabars', Arial, Helvetica, sans-serif;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 100;
  font-size: 50px;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}


canvas {
  display: block;
  border-radius: 30px;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}


.d-none {
  display: none !important;
}

#content {
  position: relative;
}

.fullscreen {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
}

.fullscreen img {
  margin-top: 10px;
  transition: all ease-in-out 175ms;
  width: 32px;
  height: 32px;
}

.fullscreen img:hover {
  transform: scale(1.2);
  transition: all ease-in-out 175ms;
}

#startscreen img,
#gameOver img,
#lost img,
#settings {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.settingsCard {
  height: 80%;
  width: 45%;
  background-image: linear-gradient(rgb(255, 120, 2), #fffb00, rgb(255, 136, 0));
  margin-left: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  z-index: 2;
}

.settingsCard img {
  width: 64px;
  height: 64px;
}

.d-flex-center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 22px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
}

.d-flex-center img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.d-flex-center h2 {
  letter-spacing: 10px;
}

.dkey {
  width: 32px !important;
  height: 32px !important;

}

#startbtn,
#restartBtn {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

#startbtn button,
#restartBtn button {
  background-image: linear-gradient(rgb(255, 136, 0), #fffb00, rgb(255, 136, 0));
  width: 100px;
  height: 30px;
  border-radius: 10px;
  font-family: zabars, sans-serif;
  font-size: 24px;
  border: none;
}

#startbtn button:hover,
#restartBtn button:hover {
  transform: scale(1.2);
  transition: all ease-in-out 175ms;
  background-image: linear-gradient(rgb(255, 136, 0), #fffb00, rgb(255, 136, 0));
  background-color: rgb(255, 200, 0);
}


.rotate {
  display: none;
}



.gap-10 {
  display: flex;
  gap: 10px;
}

.mediaBtn {
  display: none;
}

canvas {
  background-color: black;
  display: block;
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

@keyframes cooldown {
  0% {
    background-color: #b1b1b1;
  }

  100% {
    background-color: #EFEFEF;
  }
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  .rotate {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 2rem;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    color: #fff;
  }

  #startbtn,
  #restartBtn {
    bottom: unset;
    top: 30px
  }

  .fullscreen {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100svh;

  }

  h1 {
    display: none;
  }

  #startbtn,
  #restartBtn {
    bottom: unset;
    top: 30px
  }

  .fullscreen img:nth-child(2) {
    display: none;
  }

  .rotate {
    display: none;
  }

  .mediaBtn {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
  }

  .subcontainerHud {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 50px;
  }

  .Jump-btn {
    transform: rotate(90deg);
  }

  .CtrlBtn {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
  }

  .CtrlBtn img {
    height: 42px;
    width: 42px;
    object-fit: contain;
  }

  #btnThrow {
    height: 55px;
    width: 55px;
    background-image: linear-gradient(rgb(255, 136, 0), #fffb00, rgb(255, 136, 0))
  }
}

#soundIcon{
  margin-left: 10px;
}


/* 
.circle-green {
  background-color: rgb(11, 210, 11);
  border-radius: 50%;
  border: solid 2.5px rgb(95, 249, 29);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
  margin-left: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s; 
}

.circle-red {
  background-color: rgb(254, 7, 7);
  border-radius: 50%;
  border: solid 2.5px rgb(247, 169, 169);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
  width: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s; 
}

.circle-green:active,
.circle-red:active {
  transform: translateY(2px); 
  box-shadow: none; 
} */



